html, body, #description {
    margin: 0;
    padding: 0;
}

#map {
    display: block;
}

#description {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
    width: 50%;
}

#coords {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    background-color: #0008;
    color: #fff;
    padding: 5pt 15pt;
    border-radius: 6px;
}

#description img {
    width: 100%;
}

#images {
    display: none;
}

.toplevel {
    display: inline-block;
}

.tile {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
